.topBar{
  box-shadow: 9px 9px 16px rgba(163,177,198,0.6), -9px -9px 16px rgba(255,255,255, 0.5);
  background-color: #E0E5EC;
  .addUser{
    background-color: #E0E5EC;
    color:#7E8999;
    box-shadow: 9px 9px 16px rgba(163,177,198,0.6), -9px -9px 16px rgba(255,255,255, 0.5);
    padding: 0.75rem;
    border-radius: 30px;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .logo{
    box-shadow: 9px 9px 16px rgba(163,177,198,0.6), -9px -9px 16px rgba(255,255,255, 0.5);
    background-color: #E0E5EC;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    padding-top: .25rem;
    margin: auto;
    text-align: center;
    font-size: 48px;
    color:#7E8999;
  }
}